{% extends "_layouts/cp" %}
{% set title = "Generator"|t %}

{% import "_includes/forms" as forms %}

{% set tabs = {
    tab1: { label: "Raw Input"|t, url: url('generator') },
    tab2: { label: "Available Files"|t, url: url('generator/files') },
} %}

{% set selectedTab = 'tab2' %}

{% set content %}
    {# Output of Submitted Data #}

    <form class="field toolbar" action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="generator/generateload">
        {% for file in files %}
        <input type="submit" class="btn dashed" name="fileName" value="{{ file }}" style="margin: 5px;">
        {% endfor %}
    </form>

{% endset %}
