{% extends "_layouts/cp" %}
{% set title = "The Architect"|t %}

{% import "_includes/forms" as forms %}

{% set tabs = {
    tab1: { label: "Raw Input"|t, url: url('thearchitect') },
    tab2: { label: "Available Files"|t, url: url('thearchitect/files') },
    tab3: { label: "Export"|t, url: url('thearchitect/blueprint') },
    tab4: { label: "Matrix Conversion"|t, url: url('thearchitect/convert') },
} %}

{% set selectedTab = tab %}

{% set content %}

    {% if selectedTab == 'tab4' %}
    <p>
        To import this json back into Craft you will need the <a href="https://github.com/benjamminf/craft-neo" target="_blank">Neo Plugin</a> installed.
    </p>
    <p>
        {{ oldFieldCount }} fields found in matrix field(s) reduced to {{ newFieldCount }} fields used by Neo
    </p>
    {% endif %}
    {# Text Area for Output Data #}
    {{ forms.textarea({
        name: 'json',
        class: 'nicetext code',
        value: (json is defined ? json : null),
        first: true,
        autofocus: true,
        rows: 24
    }) }}

{% endset %}
